# This file is part of the DiscoPoP software (http://www.discopop.tu-darmstadt.de)
#
# Copyright (c) 2020, Technische Universitaet Darmstadt, Germany
#
# This software may be modified and distributed under the terms of
# the 3-Clause BSD License. See the LICENSE file in the package base
# directory for details.

--index-url https://pypi.python.org/simple/

about-time==4.2.1
alive-progress==3.1.4
appdirs==1.4.4
black==23.7.0
click==8.1.7
contextlib2==21.6.0
contourpy==1.1.0
cycler==0.11.0
data-science-types==0.2.23
docopt==0.6.2
extrap==4.0.3
fonttools==4.42.1
grapheme==0.6.0
importlib-resources==6.0.1
jsonpickle==3.0.2
jsons==1.6.3
kiwisolver==1.4.5
lxml==4.9.3
marshmallow==3.20.1
matplotlib==3.7.2
mergedeep==1.3.4
mpmath==1.3.0
mypy==1.5.1
mypy-extensions==1.0.0
networkx==3.1
numpy==1.24.4
packaging==23.1
pathspec==0.11.2
Pillow==10.0.1
pip==23.2.1
platformdirs==3.10.0
pluginbase==1.0.1
pstats2==0.1.0
pycubexr==1.2.1
pyparsing==3.0.9
PySide2==5.15.2.1
python-dateutil==2.8.2
recordtype==1.4
schema==0.7.5
setuptools==65.5.1
shiboken2==5.15.2.1
six==1.16.0
sympy==1.12
sympy-plot-backends==2.4.3
tomli==2.0.1
tqdm==4.66.1
typing_extensions==4.7.1
typish==1.9.3
zipp==3.16.2
