# This file is part of the DiscoPoP software (http://www.discopop.tu-darmstadt.de)
#
# Copyright (c) 2020, Technische Universitaet Darmstadt, Germany
#
# This software may be modified and distributed under the terms of
# the 3-Clause BSD License.  See the LICENSE file in the package base
# directory for details.

name: "DiscoPoP CI"
on: [push, pull_request]

jobs:

  discopop_explorer:
    name: "Explorer"
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [ 3.6 ]
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: "Install Dependencies"
        run: |
          python -m pip install -r discopop_explorer/requirements.txt
          python -m pip install mypy data-science-types black
      - name: "Run tests"
        run: python -m unittest -v
      - name: "Run MyPy Type Checker"
        run: python -m mypy -p discopop_explorer -p discopop_profiler
      - name: "Check formatting of discopop_profiler"
        run: python -m black -l 100 --check discopop_profiler

  discopop_profiler:
    name: "Profiler"
    runs-on: ubuntu-20.04
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v2
      - name: "Install Dependencies"
        run: |
          sudo apt-get remove clang-8 clang-10 clang-9 clang-11 clang-12
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo apt-add-repository "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-14 main"
          sudo apt-get update
          sudo apt-get install libclang-14-dev clang-14 llvm-14
      - name: "Build DiscoPoP Profiler"
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Debug ..
          make -j3
      - name: "Setup Python"
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: "LIST DIRECTORY"
        run: |
          ls
      - name: "Run DiscoPoP Profiler on test/ Targets"
        run: |
          chmod +x .github/workflows/discopop_profiler/test.sh
          .github/workflows/discopop_profiler/test.sh
